body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #E26013, #a4170d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;



}

.menu-box {
    background-color: #232128;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 250px;
    width: 20%;
    height: 70vh;
}

h3 {
    text-align: center;
    color: #FF8C39;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
    color: #FF8C39;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #FF8C39;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ec741f;
}

@media screen and (max-width: 600px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
}
